.col-md-7 ul{
    border-radius: 40px;
}
.col-md-7 a:hover{
    background-color: black;
   
}

.col-md-12 a:hover{
    background-color: rgb(209, 200, 200);
    
}
.col-sm-3 img{
    height: 70%;
    width: 70%;
}
.col-md-12 img{
height: 90%;
width: 100%;
}
.col-md-12{
    padding-right: 40px;
    margin-left: 40px;
    margin-right: 60px;

    color: gray;
}
#img{
    height: 70%;
    width: 100%;
}
#number{
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(169, 162, 162);
}
a{
    text-decoration: none;
}
a:hover{
    color:black;
}